@import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');

// Classes

.clickable{
    cursor: pointer;
}

.clickable:hover{
    text-decoration: underline;
}

// Loading Animatoon
.loader{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}
.lds-circle,
.lds-circle div {
  box-sizing: border-box;
}
.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  background: white;
  border-radius: 50%;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

// Login Page
#Login{
    min-height: 100vh;
    height: 100%;
    width:100vw;
    background-image: url("./media/loginBg.svg");
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}

#fbLogo{
    height:20vh;
    position:relative;
    animation: logoAnimation 8s ease-in-out 0s infinite alternate-reverse forwards;
}

#fbWrittenLogo{
    height:50px
}

@keyframes logoAnimation {
    0.0%{
    }
    50%{
        transform: scale(1.05);
    }

}

#loginForm{
    display: none;
    height:fit-content;
    width:fit-content;
    position: relative;
    top:2vh;
    font-family: Helvetica;
    background:linear-gradient(rgba(240,242,245,0.9),rgba(240,242,245,0.9));
    transform: translateX(-50%);
    left: 50%;
    padding:30px;
    border-radius:10px;
    transition: 0.5s ease-in-out;
}

#loginForm input{
    text-align: left;
    width:330px;
    margin: 5px;
    height:50px;
    padding:5px;
    transition:0.5s ease-in-out;
    border:1px solid grey;
    border-radius:5px;
}

#loginBtn{
    height:50px;
    width:330px;
    margin: 5px;
    background-color:#1877f2;
    color:white;
    font-weight: bold;
    transition:0.1s ease-in-out;
    border-radius:5px;
}

#loginBtn:hover{
    cursor: pointer;
    background-color:#196bd7;
}

#loginForm a{
    text-decoration:none;
    padding:20px
}

#createAcc{
    height:50px;
    width:200px;
    margin: 5px;
    background-color:#36a420;
    color:white;
    font-weight: bold;
    transition:0.1s ease-in-out;
    border-radius:5px;
}

#createAcc:hover{
    cursor: pointer;
    background-color:#2e901b;
}

#signupform{
    height:fit-content;
    width:fit-content;
    position: relative;
    text-align:left;
    top:2vh;
    font-family: Helvetica;
    background:linear-gradient(rgba(240,242,245,0.9),rgba(240,242,245,0.9));
    transform: translateX(-50%);
    left: 50%;
    padding:30px;
    border-radius:10px;
    transition: 1s ease-in-out;
}

#signupform input{
    text-align: left;
    width:15vw;
    margin: 5px;
    height:50px;
    padding:5px;
    transition:0.5s ease-in-out;
    border:1px solid grey;
    border-radius:5px;
}

#SignUp{
    height:50px;
    width:15.5vw;
    margin: 5px;
    background-color:#36a420;
    color:white;
    font-weight: bold;
    transition:0.1s ease-in-out;
    border-radius:5px;
}

#SignUp:hover {
    cursor: pointer;
    background-color:#2e901b;
}

#loginBtnBack{
    height:50px;
    width:15.5vw;
    margin: 5px;
    background-color:#1877f2;
    color:white;
    font-weight: bold;
    transition:0.1s ease-in-out;
    border-radius:5px;
}

#loginBtnBack:hover{
    cursor: pointer;
    background-color:#196bd7;
}

#proPic{
    height:20vh;
    width: 20vh;
    background-position: center center;
    object-fit: cover;
    box-shadow:
    2.8px 2.8px 5px rgba(0, 0, 0, 0.028),
    6.7px 6.7px 9.9px rgba(0, 0, 0, 0.04),
    12.5px 12.5px 15.3px rgba(0, 0, 0, 0.048),
    22.3px 22.3px 22.5px rgba(0, 0, 0, 0.054),
    41.8px 41.8px 36.6px rgba(0, 0, 0, 0.059),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}


// User Profile Page
#ProPicAndCoverContainer{
    background:linear-gradient(#2d2f30, #242526);
    height:61vh;
    margin-bottom:10px;
}

#userProfileContainer{
    height:100vh;
    background-color: #18191A;
}

#userProfilePicture {
    height:30vh;
    width:30vh;
    background-position: center center;
    object-fit: cover;
    border-radius:100%;
    position: relative;
    top:-15vh;
    left:5vh;
    box-shadow:
    2.8px 2.8px 5px rgba(0, 0, 0, 0.028),
    6.7px 6.7px 9.9px rgba(0, 0, 0, 0.04),
    12.5px 12.5px 15.3px rgba(0, 0, 0, 0.048),
    22.3px 22.3px 22.5px rgba(0, 0, 0, 0.054),
    41.8px 41.8px 36.6px rgba(0, 0, 0, 0.059),
    100px 100px 80px rgba(0, 0, 0, 0.07);
    border:5px solid black;
}

#coverPic{
    height:45vh;
    width:100%;
    background-color: grey;
    position: relative;
    margin:0px;
    padding:0px;
    text-align: center;
    background-position: center center;
    object-fit: cover;
    box-shadow:
    2.8px 2.8px 5px rgba(0, 0, 0, 0.028),
    6.7px 6.7px 9.9px rgba(0, 0, 0, 0.04),
    12.5px 12.5px 15.3px rgba(0, 0, 0, 0.048),
    22.3px 22.3px 22.5px rgba(0, 0, 0, 0.054),
    41.8px 41.8px 36.6px rgba(0, 0, 0, 0.059),
    100px 100px 80px rgba(0, 0, 0, 0.07);   
}

#coverPicUpload{
    height:45vh;
    width:100%;
    background-color: grey;
    position: relative;
    margin:0px;
    padding:0px;
    text-align: center;
    background-position: center center;
    object-fit: cover;
    box-shadow:
    2.8px 2.8px 5px rgba(0, 0, 0, 0.028),
    6.7px 6.7px 9.9px rgba(0, 0, 0, 0.04),
    12.5px 12.5px 15.3px rgba(0, 0, 0, 0.048),
    22.3px 22.3px 22.5px rgba(0, 0, 0, 0.054),
    41.8px 41.8px 36.6px rgba(0, 0, 0, 0.059),
    100px 100px 80px rgba(0, 0, 0, 0.07);   
}

#coverSubmit{
    left:33.6vw;
    position: relative;
    height: fit-content;
    top:30%;
}

#coverText{
    left:26vw;
    position: relative;
    height: fit-content;
    top:30%;
    font-family: Helvetica;
    width:20vw;
    border:1px dashed white;
    padding:20px;
    cursor: pointer;
}

#username{
    font-family: 'Ruda', sans-serif;
    position: relative;
    top:-29vh;
    left:21vw;
    color:white;
}

// User Feed Left

#textEdit{
    font-family: Helvetica;
    position: relative;
    color:rgb(175, 175, 175);
    cursor:pointer;
}

#textEdit:hover{
    text-decoration: underline;
}

#textInput{
    position: relative;
    width:20vw;
    height:5vh;
    border:1px solid grey;
    border-radius:5px;
    padding:5px;
}

#textSubmit{
    position: relative;
    width:20vw;
    height:5vh;
    background-color:#36a420;
    color:white;
    font-weight: bold;
    transition:0.1s ease-in-out;
    border-radius:5px;
}

#bio{
    font-family: Helvetica;
    position: relative;
    top:-29vh;
    left:21vw;
    color:rgb(189, 189, 189)
}

#location{
    color:white;
    font-family: Helvetica;
}

#userFeedContainer{
    position: relative;
    color:white;
}

#userFeedInfo{
    background-color:#242526;
}

#userFeedUserInfo{
    background-color:#242526;
    padding: 20px;
    font-family: 'Ruda', sans-serif;
    border-radius: 10px;
}

.hoverUnderline:hover{
    text-decoration: underline;
    cursor: pointer;
}

// User Feed Right

#userFeedInfo{
    background-color:#18191A;
    font-family: 'Ruda', sans-serif;
}

#status{
    background-color: #242526;
    padding:20px;
    border-radius: 10px;
    text-align: center;
}

#statusInput{
    width:calc(100% - 3vw);
    border-radius: 10px;
    background-color: #4E4F50;
    border:0px;
    padding: 5px;
    padding-left: 10px;
    color:#AFB2B5;
    cursor: pointer;
}

#statusInput:hover {
    background-color: #5a5b5c;
}

.statusProPic{
    background-position: center center;
    object-fit: cover;
    height:4vh;
    width: 4vh;
    border-radius: 100%;
    margin-right:10px;
}

.status_types:hover{
    background-color:#4E4F50!important;
}

#statusSubmit{
    color:white;
    background-color:#0B5ED7;
    border-radius: 10px;
    margin-left:5px;
}

// Make a post
#makeAPost{
    height:40vh;
    width:40vw;
    background-color: #242526;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 30px;
    font-family: 'Ruda', sans-serif;
    z-index: 20;
}

#postInput{
    width: 100%;
    margin-top: 10px;
    background-color: #242526;
    color: white;
    border: 0px;
}

#postInput:focus{
    outline: none;
}

#postOverlay{
    position:absolute;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    z-index:19;
    background:linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    overflow-x: hidden;
    overflow-y: hidden;
}